<div class="card" style="width: 18rem" *ngFor="let residence of listResidences">
    <img
      [src]="residence.image"
      alt="{{ residence.name }}"
      width="200"
      height="150"
    />
    <div class="card-body">
      <h5 class="card-title">{{ residence.name }}</h5>
      <p class="card-text">
        {{ residence.address }}
      </p>
      <a class="btn btn-primary" (click)="showApartments(residence)"
        >Show Apartments</a
      >
      <div *ngIf="selectedR === residence">
        <div>
          <label for="searchSurface">Search by Surface:</label>
          <input type="number" id="searchSurface" [(ngModel)]="searchSurface" />
          <button (click)="filterA()">Search</button>
        </div>
        <div *ngIf="noA">
          <p>No Apartment found</p>
        </div>
  
        <div *ngFor="let apartment of filteredA">
          <h4>{{ apartment.description }}</h4>
          <p>{{ apartment.category }}</p>
          <p>{{ apartment.surface }} m²</p>
          <button (click)="addToFavorites(apartment)">Like</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2>Favorite Apartments</h2>
    <div *ngFor="let favoriteApartment of favoriteA">
      <h4>{{ favoriteApartment.description }}</h4>
      <p>{{ favoriteApartment.category }}</p>
      <p>{{ favoriteApartment.surface }} m²</p>
    </div>
  </div>